.card {
    border: 0px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.08);
    background: $white;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //border-bottom: 1px solid $border-color;
        background: transparent;
        padding: 30 0px;
        // margin      : 0px 35px;
        @include respond("desktop") {
            padding: 30px;
        }
        @include custommq($min: 1200px, $max: 1350px) {
            padding: 30px 0px;
        }
    }
    &-title {
        font-size: 24px;
        margin-bottom: 0px;
        // color: #ffffff;
        font-weight: 400;
    }
    .card-body {
        padding: 30px 0px;
        background: transparent;
        border-radius: 15px;
        @include respond("desktop") {
            padding: 30px;
        }
        @include custommq($min: 1200px, $max: 1350px) {
            padding: 30px 0px!important;
        }
    }
}

.alert-card{
    border: 0px;
    
    background: #ffffff;
    border-radius: 10px;
    height: 48px;
    p{
        margin:auto;
        font-size: $h6-font-size !important;
    }
    i{
        font-size: $h3-font-size;
    }
    
    
}

.profile-card{
    
    border: 0px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 16px;
    height: 452px;
    .media{
    padding: 36.5px 30px;
    align-items: center;
    border-bottom: 0px solid #f1f4f8;
    background: #ffffff;
    border-radius: 15px;
    }
    .card-head{
        font-size: $card-head;
    }
    .caption{
        font-size: $h6-font-size;
        color: $head-gray;
    }
    i{
        margin-bottom: 0.5rem;
        color: $primary;
    }
}

.input-card{
    
    border: 0px;
    margin-bottom: 30px;
    background: #ffffff !important;
    border-radius: 16px;
    
    
    
    .media{padding: 36.5px 30px;
    align-items: center;
    border-bottom: 0px solid #f1f4f8;
    background: #ffffff;
    border-radius: 15px;
    }
    .card-head{
        font-size: $card-head;
    }
    .caption{
        font-size: $h6-font-size;
        color: $head-gray;
    }
    i{
        margin-bottom: 0.5rem;
        color: $primary;
    }
}