// .authincation{
//     height: 100%;
// }
.authincation {
    height: 100vh;
}

.auth-form {
    // padding: 30px;
    // background: $white;
    // box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    // border-radius: 5px;
    // .btn {
    //     height: 50px;
    //     font-weight: 400;
    // }
    box-shadow: 0px 45px 223px rgba(0, 0, 0, 0.05), 0px 10.0513px 49.81px rgba(0, 0, 0, 0.0298054), 0px 2.99255px 14.8297px rgba(0, 0, 0, 0.0201946);
    border: 1px solid $border-color;
    .page-back {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.verification {
    // margin-top: 100px;
    height: 100vh;
}

.identity-content {
    text-align: center;
    .icon {
        display: flex;
        width: 96px;
        height: 96px;
        border-radius: 100px;
        margin: 0 auto;
        background: $danger;
        color: $white;        
        font-size: 48px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .icon-success{
        display: flex;
        width: 96px;
        height: 96px;
        border-radius: 100px;
        margin: 0 auto;
        background: $success;
        color: $white;        
        font-size: 48px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        
    }
    .icon-info{
        display: flex;
        width: 96px;
        height: 96px;
        border-radius: 100px;
        margin: 0 auto;
        background: $info;
        color: $white;        
        font-size: 48px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

    }
    h4 {
        max-width: 350px;
        margin: 0 auto 15px;
    }
    p {
        max-width: 350px;
        margin: 0 auto 30px;
    }
}

.payment-content {
    text-align: center;
    display: flex;
    .icon {
        display: flex;
        width: 64px;
        height: 64px;
        border-radius: 100px;        
        background: $bg-gradient;
        
        font-size: 30px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        
    }
    h4 {
        font-size:21px;
        margin-bottom: 0px;
        margin-left: 24px;
        
    }
    p {
        max-width: 350px;
        margin: 0 auto 30px;
    }
}

.caption{
    font-size:12px;
}

.payment-body{
    p{
        font-size:14px;
    }
    border-bottom: 1px solid #777;
    
}

.payment-price{
    p{
        margin-bottom: 0px;
    }
}

.shadow-1{
    box-shadow: 0px 45px 223px rgba(0, 0, 0, 0.05), 0px 10.0513px 49.81px rgba(0, 0, 0, 0.0298054), 0px 2.99255px 14.8297px rgba(0, 0, 0, 0.0201946);
}