.helpdesk-search{
    background: #F9F9F9;
    .helpdesk-search-content{
        text-align: center;
    }

    .helpdesk-form{
        form{
            display: flex;
        }
        .btn{
            margin-left: 20px;
            padding: 6px 30px;
        }
    }
}

.help-category{
    .help-cat{
        text-align: center;
        margin-bottom: 50px;
        span{
            font-size: 48px;
            color: $primary;
        }
        h4{
            font-size: 20px;
            margin-top: 15px;
        }
    }

    .sub-cat{
        display: inline-block;
        padding: 20px 30px;
        background: lighten($primary, 45%);
        border-radius: 5px;
        text-align: center;
        margin-bottom: 30px;
        h5{
            color: $primary;
            margin-bottom: 0px;
        }
    }
}

.troubleshooting-content{
    h4{
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
        margin-top: 50px;
    }
    ul{
        margin-top: 20px;
        li{
            a{
                color: $body-color;
                display: inline-block;
                padding-bottom: 10px;
                &:hover,&:focus,&:active,&.active{
                    color: $primary;
                }
            }
        }
    }
}


.ticket-box-content{
    @media only screen and (min-width: 1024px) {
        h3{
            font-size: 38px;
            
        }
        p{
        padding: 10px 0 20px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    padding: 54px 64px;
    
        
    }
    
    background: linear-gradient(275.14deg, rgba(82, 232, 223, 0.12) 3.05%, rgba(255, 255, 255, 0) 89.23%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 127.38%), linear-gradient(98.75deg, #E1D3FF 16.47%, rgba(255, 255, 255, 0) 39.25%), radial-gradient(48.29% 78.67% at 54.44% 46.33%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFCFCF 0%, #B7D8FF 100%);
    border-radius: 32px;
    padding: 32px 32px;
    
    .btn{
        min-width: 150px;
        font-weight: 400;
        flex-direction: row;
        span{
            vertical-align: super;
        }
    
    }

    
    i{
        font-size: 24px;
        @include respond('phone'){
            display: none;
        }
    }
   
    
}
.esnaf{
    position: absolute;
    bottom:0px;
    right:6%;
    @media (max-width: 1023px){
        display: none;
    }
    
}

.sally-1{
    position: absolute;
    bottom:-14%;
    right:32%;
    -webkit-animation: updown-2 8s infinite;
animation: updown-2 8s infinite;
animation-direction: reverse;
    
    @media (max-width: 1023px){
        display: none;
    }

}
.sally-2{
    position: absolute;
    top:0px;
    right:-2%;
    -webkit-animation: updown 8s infinite;
animation: updown 8s infinite;
    @media (max-width: 1023px){
        display: none;
    }

}
.sally-3{
    position: absolute;
    bottom:7%;
    right:-7%;
    -webkit-animation: updown 8s infinite;
    animation: updown 8s infinite;
    
    @media (max-width: 1024px){
        right:0%;
    }
    @media (max-width: 1023px){
        display: none;
    }

}

.ticket-box-content::before{
    content: "";

}