//to ignore cli warning about deprecated mixin
$enable-deprecation-messages: false;
$ignore-warning: true;
// Body

$body-bg: #fff;




$body-color: #738282;
// Typography
$font-family-base: 'Graphik';
$headings-font-weight: 400;
// $headings-font-family:        $fm;
$font-size-base: 1rem !default;
$font-weight-base: 400 !default;
// $line-height-base    : 1.6;
$h1-font-size: 2.25rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;
$h7-font-size: 0.675rem;
$card-body:1.75rem;
$card-head:1.313rem;
//
// Color system
//
$white: #fff !default;
$gray-100: #F6F5FE !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #506690 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$head-gray: #B0ADCA !default;
$head-black: #131616 !default;
$black: #000 !default;
$blue: #5e72e4;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #EE3232;
$orange: #fd7e14 !default;
$yellow: #FFFA6F;
$green: #297F00;
$teal: #20c997 !default;
$cyan: #3065D0;
$grays: () !default;
$info: #1BE7FF;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(("head-black": $head-black, "head-gray": $head-gray, "100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900), $grays);
// $muted  : #666666;
$text-muted: #AEAED5;
$mine-shaft: #262626;
$ebony-clay: #232833;
$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(("info": $info, "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800), $colors);
$primary: #000 !default;
$secondary: #673BB7 !default;
$success: #10d876 !default;
$info: #50E3C2 !default;
$warning: #FE9431 !default;
$danger: #FF788E !default;
$light: #f8f9fa !default;
$dark: #454545;
$info: #1BE7FF;
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(("primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark), $theme-colors);
// $base-font-size   : 0.8125rem !default;
$heading-primary-size: 1.8rem;
$sub-heading-size: 1.6rem !default;
$grid-gutter-width: 30px;
$dropdown-lik-color: $body-color;
$border-color: #f1f4f8;
$headings-color :#000 !default;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440);
// Custom Variable
$bg-gradient: linear-gradient(31.16deg, #FEEDED -4.58%, rgba(255, 255, 255, 0) 97.7%), radial-gradient(64.47% 62.8% at 106.37% 40.2%, #BDDFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(85.76% 85.76% at 83.63% 14.24%, #E3DEFF 0%, rgba(249, 255, 255, 0) 100%);

$gradient-text: linear-gradient(rgba(255, 207, 207, 1), rgba(183, 216, 255, 1));



// Solid Color
///////////////
// $white: #fff;
// $black: #000;
// $td :#161c2d;
// $tl: #869ab8;
// $border:#f1f4f8;
// $pp: 'Graphik',
// sans-serif;