/*
    Name: Kargo Pratik
    Author: Digitalact
    Author Website : www.digitalact.com.tr
    Email: hi-istanbul@digitalact.com.tr


    Table of Content: 

    1. Abstract
    2. Bootstrap CSS
    3. Base
    4. Layout
    5. Component
    6. Dashboard
    7. Landing
    8. Pages
    10. Demo
    
*/

@import "./abstract/abstract";
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./base/base";
@import "./layout/layout";
@import "./components/components";
@import "./dashboard/dashboard";
@import "./landing/landing";
@import "./pages/pages";
@import "./demo/demo";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

body{
    background: $bg-gradient;
    overflow-x: hidden;


}